# Practica 8 - Modificación de tablas y registros

### Trabajar con el esquema **base.sql**

In [17]:
SELECT * FROM base.producto

ID_Producto,Producto
1,Terreno
2,Oficina
3,Local
4,Nave
5,Isla
6,Consultorio
7,Remates

## 1. Inserta 2 productos nuevos en la tabla producto, puedes llamarlos producto1 y producto2.

In [7]:
INSERT INTO base.producto (ID_Producto, Producto) VALUES(8, "producto1"), (9, "producto2");

## 2. Ahora vamos a actualizar los nombres de los productos anteriores:  
2.1 Producto1 será 'Casa'

In [9]:
UPDATE base.producto
SET Producto = 'Casa'
WHERE ID_producto= 8;

2.2 Producto2 será 'Departamento'

In [11]:
UPDATE base.producto
SET Producto = 'Departamento'
WHERE ID_Producto = 9;

## 3. Eliminar casa y departamento de la tabla 'producto'

In [16]:
DELETE FROM base.producto
WHERE ID_producto BETWEEN 8 AND 9;